name: Specification Validation
description: Validates all specification files for following the rules and checks their compatibility.

on:
  pull_request:
    paths:
      - "specs/**/*.spec.md"
      - "tools/validate-specifications/**"
  push:
    branches:
      - main
    paths:
      - "specs/**/*.spec.md"
      - "tools/validate-specifications/**"

jobs:
  validate-specifications:
    name: Validate Specifications
    runs-on: self-hosted

    permissions:
      contents: read

    env:
      DIAL_KEY: ${{ secrets.DIAL_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Run specification validation
        run: |
          node tools/validate-specifications/index.js
